
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <meta name="viewport"  content="width=decive-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Alegreya Sans' rel='stylesheet'>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/9802ef353e.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script src="https://unpkg.com/react-router@3.0.0/umd/ReactRouter.js"></script>
  <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  <style type="text/css">
  .login-container{
  position: relative;
  height:100%;
  border:1px solid rgb(22,22,32);
  margin-top:18%;
  }
  .input-box input{
  border:none;
  font-size:20px;

  }
  .input-box{
   border-bottom:1px solid rgb(152,152,152);
  padding-left:2px;
  border-radius:2px;
  }
  .sign-up{
  display:none;
  
  }
  </style>
    <title>React App</title>
  </head>
  <body>

    <div id="root"></div>
      <script type="text/babel">
      
  
      
      class App extends React.Component{
      render(){
      return(
      
      <div className="d-flex  justify-content-center align-items-center login-container">
      <div className="login">
      <div className="input-box my-3">
      <input type="text" placeholder="username"/>
      </div>
      <div className=" input-box my-3">
         <input type="text" placeholder="password"/>
      </div>
      
      </div>
      
      
      
      
        <div className="sign-up">
        <div className="input-box my-3">
        <input type="text" placeholder="username"/>
        </div>
        <div className=" input-box my-3">
        <input type="text" placeholder="password"/>
        </div>
        <div className=" input-box my-3">
        <input type="email" placeholder="email"/>
        </div>
        </div>
      
      
      
      
      </div>
      
      )
      }
      }





ReactDOM.render(<App />, document.getElementById('root'));
</script>
  </body>
</html>

  